<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog with Expandable Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }


    </style>
</head>
<body>
    <header>
        <h1>Blog with Expandable Details</h1>
    </header>
    <div class="container1">
        <details>
            <summary>Blog Post 1</summary>
            <p>
                This is the content of the first blog post. It can be as long as you want.
            </p>
        </details>

        <details>
            <summary>Blog Post 2</summary>
            <p>
                This is the content of the second blog post. It can also be as long as you want.
            </p>
        </details>
    </div>
</body>
</html>
